body{
    display: grid;
    font-family: 'Kalam', cursive;
    grid-template-areas: "navbar"
                         "banner"
                         "main"
                         "section"
                         "footer";
grid-template-columns: 99.7vw;
margin: 0px;
background-image: url(../img/background.png);
}

header{
    grid-area: banner;
    background-color:#4fc3f7;
}
nav{
    align-items: center;
    background-color: #c27be0;
    grid-area: navbar;
    height: 45px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
nav div:nth-child(2){
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
}

nav div:nth-child(3){
    display: none;
}
nav div span{
    background-color: black;
    height: 5px; 
    width: 30px;
}
nav img{
    width: 35px;
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    grid-area: section;
}

section .funcionarios{
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/

}
section .funcionarios div img {
    width: 100px;
}

@media(min-width: 580px){
body {
    background-image: url()
}
nav div a{
    font-size: 14pt;
    text-decoration: none;
}
nav div:nth-child(2){
    display: none;
}

nav div:nth-child(3){
    display: block;
}
    section .funcionarios{
        flex-direction: row;
        flex: wrap;
        justify-content: space-around;
        width: 100vw;
    }
}

@media(min-widht:710){
    header: 
}